<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Lyfe</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/modules.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
    <a class="grid-item5" type="button" href="/aboutTeamEarth">About Team Earth</a> 

    <div id="othersResultsDiv">
      <!-- <h2>this is <%= userObject %></h2> -->
      <% userObject.forEach(individualUser => { %>
        <ul>
          <li>
            <img src="<%= individualUser.preview_url%>" alt="">              
            <h3 class="user_name"><%= individualUser.user_name %></h3>          
            <h4 class="top_artist"><%= individualUser.top_artist %></h4>          
            <h4 class="top_track"><%= individualUser.top_track %></h4>          
             <form action="/track" method="POST" >
                <input type="hidden" name="top_track" value="<%= individualUser.top_track %>">
                <input type="submit" value="Select This Song" class="showTrackBtn">
            </form>
            <form action="/artist" method="POST" >
              <input type="hidden" name="top_artist" value="<%= individualUser.top_artist %>">
              <input type="submit" value="Select This Artist" class="showTrackBtn">
          </form>
          </li>
       </ul>
       <%  }) %>  
    </div>


    
</body>

</html>
