<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Lyfe</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/modules.css">
</head>

<body>
    <%- include('partials/header.ejs') %>
    <a class="grid-item5" type="button" href="/aboutTeamEarth">About Team Earth</a> 

    <div id="TrackResultsDiv">
      <h2>this is <%= userObject %></h2>
      <!-- <% userObject.forEach(individualUser => { %> -->
        <ul>
          <li>
            <div id="IndividualTrackResultsDiv">

            <h4 class="track_title">Song name: <%= track.track_title %></h4>          
            <h4 class="artist">by artist: <%= track.artist %></h4>          
            <img src="<%= track.album_cover_url%>" alt="">              
            <h4 class="album_name">which is on the Album: <%= track.album_name %></h4>          
            <h4 class="release_date">and was released on: <%= track.release_date %></h4>          
       
            <h4 class="lyrics">song lyrics: <%= track.lyrics %></h4>          
            <h4 class="genre">Song Genre: <%= track.genre %></h4>          
            <h4 class="popularity">Song Popularity is: <%= track.popularity %></h4>          
            <h4 class="global_play_count">Song was played globally: <%= track.global_play_count %></h4>          
            <h4 class="users_play_count">Song was played by <%= track.user_name %>: <%= track.users_play_count %></h4>          
            <h4 class="last_time_user_played">Song was last played by <%= track.user_name %>: <%= track.last_time_user_played %></h4>
            </div>


          </li>
       </ul>

       return top tracks obj: [{track_name, genera, artist, album, release_date, album_cover_url, rank}, {track_name, genera, artist, album, release_date, album_cover_url, rank}...]

    </div>


    
</body>

</html>