<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Lyfe</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/modules.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <a class="grid-item5" type="button" href="/aboutTeamEarth">About Team Earth</a> 

    <div id="UserResultsDiv">
      <h2>this is <%= userObject.user_name %></h2>
        <ul>
          <li>
            <img src="<%= userObject.album_cover_url %>" alt="">              
            <h4 class="top_artist">your favorite Artist is: <%= userObject.top_artist %></h4>          
            <h4 class="top_album">which is on the Album: <%= userObject.top_album %></h4>          
            <h4 class="release_date">and was released on: <%= userObject.release_date %></h4>          
            <form action="/getTrackData/:<%= userObject.track_id%>" method="POST" >
                <input type="hidden" name="top_track" value="<%= userObject.top_track %>">
                <input class="grid-item5" type="submit" value="More info about this Song" class="showTrackBtn">
            </form>
            <form action="/artist" method="POST" >
              <input type="hidden" name="top_artist" value="<%= userObject.top_artist %>">
              <input class="grid-item5" type="submit" value="More info about this Artist" class="showTrackBtn">
          </form>
          </li>
       </ul>


    </div>


    
</body>

</html>